<% if csv_data.present? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Product Title</th>
        <% if csv_data.first["suppliers"].present? %>
          <% csv_data.first["suppliers"].each_with_index do |supplier, index| %>
            <th>Supplier <%= index + 1 %> Name</th>
            <th>Supplier <%= index + 1 %> Cost</th>
            <th>Supplier <%= index + 1 %> Ref</th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% csv_data.each do |row| %>
        <tr>
          <td><%= row["sku_code"] %></td>
          <td><%= row["product_title"] %></td>
          <% row["suppliers"].each do |supplier| %>
            <td><%= supplier["supplier_name"] %></td>
            <td>
              <%= text_field_tag "supplier_cost[#{row['sku_code']}][#{supplier['supplier_id']}]", supplier["supplier_cost"], class: "form-control" %>
            </td>
            <td><%= supplier["supplier_ref"] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No data available. Please upload a CSV file.</p>
<% end %>
