<table id="products_table" class="table table-bordered">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Product Title</th>
      <% if csv_data.present? %>
        <% csv_data.first["suppliers"].each_with_index do |supplier, index| %>
          <th><%= supplier["supplier_name"] %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if csv_data.present? %>
      <% csv_data.each do |row| %>
        <tr>
          <td><%= row["sku_code"] %></td>
          <td><%= row["product_title"] %></td>
          <% row["suppliers"].each do |supplier| %>
            <td>
              <!-- Editable Cost Price -->
              Cost: <%= text_field_tag "supplier_cost[#{row['sku_code']}][#{supplier['supplier_id']}]", supplier["supplier_cost"], class: "form-control" %>
              <!-- Hidden fields for Supplier ID and Reference -->
              <%= hidden_field_tag "supplier_id[#{row['sku_code']}][#{supplier['supplier_id']}]", supplier["supplier_id"] %>
              <%= hidden_field_tag "supplier_ref[#{row['sku_code']}][#{supplier['supplier_id']}]", supplier["supplier_ref"] %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">No data available. Upload a CSV file.</td>
      </tr>
    <% end %>
  </tbody>
</table>
