<h1>Manage Supplier Associations</h1>

<div id="products_table">
  <% if @csv_data.present? %>
    <%= render partial: "products_table", locals: { csv_data: @csv_data } %>
  <% else %>
    <p>No data available. Please upload a CSV file.</p>
  <% end %>
</div>

<div id="action_buttons">
  <% if @csv_data.present? %>
    <%= link_to "Export CSV", export_products_path, class: "btn btn-secondary" %>
    <%= link_to "Clear Data", clear_products_path, method: :get, class: "btn btn-danger" %>
  <% else %>
    <%= form_with url: import_products_path, method: :post, multipart: true do |f| %>
      <div>
        <%= f.file_field :file, class: "form-control" %>
      </div>
      <div>
        <%= f.submit "Upload CSV", class: "btn btn-primary mt-2" %>
      </div>
    <% end %>
  <% end %>
</div>
